.wrapper {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;
}

.image {
  width: 400px;
  float: right;
}

h1 {
  font-family: Garamond, serif;
}

h3 {
  font-family: Garamond, serif;
}

p {
  font-family: Garamond, serif;
}

ul {
  font-family: Garamond, serif;
}

.Bildung span {
  display: inline-block;
  width: 160px;
}

.Person span {
  display: inline-block;
  width: 160px;
}
